@import "src/styles/base/variables";

.calendar-app {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  &__content {
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - 115px);
    max-height: calc(100vh - 115px);
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $color-white-bg;
  }
}
