:root {
  --color-primary: #E42517;
  --theme-primary-50: #FCE5E3;
  --theme-primary-100: #F7BEB9;
  --theme-primary-200: #F2928B;
  --theme-primary-300: #EC665D;
  --theme-primary-400: #E8463A;
  --theme-primary-500: #E42517;
  --theme-primary-600: #E12114;
  --theme-primary-700: #DD1B11;
  --theme-primary-800: #D9160D;
  --theme-primary-900: #D10D07;
  --theme-primary-A100: #FFFBFB;
  --theme-primary-A200: #FFC9C8;
  --theme-primary-A400: #FF9695;
  --theme-primary-A700: #FF7D7B;
  --theme-primary-contrast-50: #000000;
  --theme-primary-contrast-100: #000000;
  --theme-primary-contrast-200: #000000;
  --theme-primary-contrast-300: #ffffff;
  --theme-primary-contrast-400: #ffffff;
  --theme-primary-contrast-500: #ffffff;
  --theme-primary-contrast-600: #ffffff;
  --theme-primary-contrast-700: #ffffff;
  --theme-primary-contrast-800: #ffffff;
  --theme-primary-contrast-900: #ffffff;
  --theme-primary-contrast-A100: #ffffff;
  --theme-primary-contrast-A200: #ffffff;
  --theme-primary-contrast-A400: #ffffff;
  --theme-primary-contrast-A700: #ffffff;

  --color-accent: #674293;
  --theme-accent-50: #EDE8F2;
  --theme-accent-100: #D1C6DF;
  --theme-accent-200: #B3A1C9;
  --theme-accent-300: #957BB3;
  --theme-accent-400: #7E5EA3;
  --theme-accent-500: #674293;
  --theme-accent-600: #5F3C8B;
  --theme-accent-700: #543380;
  --theme-accent-800: #4A2B76;
  --theme-accent-900: #391D64;
  --theme-accent-A100: #C4A2FF;
  --theme-accent-A200: #A36FFF;
  --theme-accent-A400: #823CFF;
  --theme-accent-A700: #7223FF;
  --theme-accent-contrast-50: #000000;
  --theme-accent-contrast-100: #000000;
  --theme-accent-contrast-200: #000000;
  --theme-accent-contrast-300: #ffffff;
  --theme-accent-contrast-400: #ffffff;
  --theme-accent-contrast-500: #ffffff;
  --theme-accent-contrast-600: #ffffff;
  --theme-accent-contrast-700: #ffffff;
  --theme-accent-contrast-800: #ffffff;
  --theme-accent-contrast-900: #ffffff;
  --theme-accent-contrast-A100: #ffffff;
  --theme-accent-contrast-A200: #ffffff;
  --theme-accent-contrast-A400: #ffffff;
  --theme-accent-contrast-A700: #ffffff;
}

$color-primary: var(--color-primary);
$color-accent: var(--color-accent);
