scrollbar-y {
  --vertical-scrollbar-size: 6px;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.45);

  right: -15px !important;
}

mat-option {
  font-family: $font !important;
  font-weight: 400 !important;
  color: $color-text !important;
  font-size: $font-paragraph-size !important;
  line-height: 1.3 !important;
}

.cdk-global-scrollblock {
  overflow-y: hidden !important;
}

mat-dialog-container {
  padding: 0 !important;
  overflow: visible !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.ng-scrollbar-wrapper {
  .ng-scroll-content {
    max-width: 100%;
  }
}
