@import "brand";

$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-white-bg: #F1F1F1;
$color-border: #D9DADB;

$color-title: #4D4C4C;
$color-text: #47474A;
$color-link: $color-accent;

$color-success: #28A745;
$color-warning: #FFC107;
$color-error: #DC3545;

$font: 'Ubuntu', sans-serif;
$font-title-size: 18px;
$font-forms-label-size: 18px;
$font-paragraph-size: 16px;
